h3 {
  margin: 0;
}

main {
  max-width: var(--max-size);
  width: 80vw;
  margin: 40px auto;
  --max-size: 820px;
}

#cards {
  max-height: var(--max-size);
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  height: 80vw;
  margin-bottom: 30px;
  position: relative;
}

.card {
  width: 32%;
  height: 32%;
  background: #f6e8e8;
}

.mistake {
  width: 90%;
  height: 90%;
  transform-origin: 0 0;
  transform: rotate(15deg);
}

#inputBar {
  position: absolute;
  overflow: hidden;
  transition: 0.2s;
  top: 43%;
  left: 27%;
  width: calc(1% * var(--width-for-cards));
  height: calc(1% * var(--height-for-cards));
  display: flex;
  flex-wrap: wrap;
  gap: calc(100% / var(--height-for-cards)) calc(100% / var(--width-for-cards));
  --card-width: 15;
  --card-height: 15;
  --width-for-cards: 47;
  --height-for-cards: 31;
}

#inputBar>.card {
  width: calc(100% / var(--width-for-cards) * var(--card-width));
  height: calc(100% / var(--height-for-cards) * var(--card-height));
  background: #b79595;
  box-shadow: 0 0 7px 2px #fff;
}

#toolbar {
  display: flex;
  justify-content: space-between;
  height: 30px;
}
